
body {
    display: flex;
    flex-direction: column;
    margin: 0;
}

.header {
    background-color: #1F2937;
    font-size: 24px;
    color: #f9faf8;
    display: flex;
    align-items: flex-start;
    justify-content: space-between;
}

.header ul {
    list-style: none;
    display: flex;
    gap: 24px;
    align-items: flex-end;
    justify-content: flex-end;
    margin-top: 0;
    margin-right: 200px;
    padding: 16px 0px;

}

.header img {
    padding: 16px 32px;
    margin-left: 150px;
}

.header a {
    font-size: 18px;
    color: #E5E7EB;
    text-decoration: none;
}

.intro {
    background-color: #1F2937;
    font-size: 24px;
    color: #f9faf8;
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding-top: 50px;
    padding-bottom: 50px;
}

.intro .text {
    display: flex;
    flex-direction: column;
    font-size: 18px;
    color: #E5E7EB;
    padding: 16px 32px;
    margin-left: 150px;
    height: 300px;
    width: 400px;
}

.intro img {
    margin-right: 200px;
    padding-bottom: 65px;
    height: 230px;
    width: 500px;
}

#herotext {
    font-size: 48px;
    font-weight: 900;
    color: #f9faf8;
    margin-bottom: 4px;
}

.intro button {
    align-self: flex-start;
    background-color: #3882f6;
    color: #E5E7EB;
    border-color: #1F2937;
    border-radius: 10px;
    font-size: 12pt;
    font-weight: 600;
    padding: 8px 32px;
    margin-top: 16px;
}

.middle {
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 48px auto;
}

#styletext {
    font-size: 36px;
    font-weight: bolder;
    color: #1F2937;
    padding: 32px 12px;
}

.collage {
    gap: 48px;
    display: flex;
    flex-wrap: wrap;
    padding-bottom: 64px;
}

.shoppingtext {
    display: flex;
    justify-content: center;
    font-size: 18px;
    font-weight: 600;
    color: #1F2937;
    padding: 12px 6px;
}

.inspo {
    display: flex;
    flex-direction: column;
    align-items: center;
    background-color: #E5E7EB;
    padding: 100px 400px;
    font-size: 36px;
    font-style: italic;
    color: #1F2937;
}

#author {
    align-self: flex-end;
    font-size: 28px;
    font-style: normal;
    font-weight: 700;
}

.ad {
    display: flex;
    justify-content: center;
    margin: 96px 12px;
}

.thead {
    display: flex;
    justify-content: space-between;
    border-radius: 10px;
    background-color: #3882f6;
    padding: 48px 144px;
    color: #E5E7EB;
    gap: 250px;
}

#actiontext {
    font-weight: 800;
    font-size: 22px;
}

#smallertext {
    font-size: 14px;
}

.thead button {
    color: #f9faf8;
    background-color: #3882f6;
    border-color: #f9faf8;
    border-radius: 10px;
    border-style: solid;
    font-weight: 700;
    font-size: 16px;
    padding: 0px 32px;
}

.footer {
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: #1F2937;
    color: #E5E7EB;
    padding: 36px 12px;
    font-size: 18px;
}